{{> layout/header}}

<section>
<!--    http body : title=제목6&content=내용6
        http header : application/x-www-form-urlencoded
        key값은 input태그의 name, value값은 input태그에 사용자가 입력하는 값-->

    <!-- form 태그 안에 감싸는 이유 -> 여러가지 데이터를 1번에 보내기 위해 -->
    <!-- 자바스크립트를 쓸 거라도 form 태그를 쓰자. 가독성이 좋다. -->
    <form action="/board/save-form" method="post" enctype="application/x-www-form-urlencoded">
    <!-- http://localhost:8080/ 는 생략 가능. 왜냐면 http://localhost:8080/ 화면에서 넘어올 거니까-->
        <input type="text" name="title" placeholder="제목"><br>
        <input type="text" name="content" placeholder="내용"><br>
        <button type="submit">글쓰기</button>
    </form>
</section>

</body>
</html>